<h1>Your list, <%= @list.name %>

<h2>Items in your list</h2>
<ul><% @list_price = 0 %>
<% @list.items.each do |item| %>
    <% @list_price += item.price %>
    <li id="item"><a href="/items/<%= item.id %>"><%= item.name %></a> $<%= item.price %></li>
    <br>
<% end %></ul>
<h3>Total $<%= @list_price %></h3>
<br><br>

<a href="/shopping_lists"><button>Home</button></a><br><br>
<a href="/shopping_lists/<%= @list.id %>/edit"><button>Edit this List</button></a><br><br>
<form action="/shopping_lists/<%= @list.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this List">
</form>
